*{
    box-sizing: border-box;
    font-family: sans-serif;
    overflow-x: hidden;
}

body{
    background-color: rgb(255, 205, 205);
    margin: 0px;
    padding: 0px;
    width: 100vw;
}

.first-div{
    display: flex;
    flex-direction: row;
    background-image: url("../images/main-bike.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    border: 0;
    margin: 0;
}

header{
    /* border: solid 1px black; */
    display: flex;
    flex-direction: row;
    flex: 1;
    padding-left: 40px;
    height: 100px;
    width: 100vw;
    color: white;
    text-align: center;
}

.header-title{
    width: 150px;
    /* border: solid 1px red; */
    margin-left: 10px;
    margin-right: 10px;
    font-size: 2rem;
    font-weight: bolder;
}

.header-title img{ 
    height: 40px;
    margin-top: 40px;
}
.header-title img:hover{
    cursor: pointer;
    fill: violet;
}
.header-menu{
    /* border: solid 1px rgb(6, 45, 221); */
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: flex-end; 
    margin-top: 40px;
    margin-right: 80px;
    }

.header-menu p {
    font-weight: bold;
    font-size: .75rem;
    margin-left: 20px;
    margin-right: 20px;
    text-transform: uppercase;
}
.header-menu p:hover {
    cursor: pointer;
    color: rgb(65, 65, 65);
}

.button{
    position: absolute;
    /* border: 1px solid red; */
    flex-direction: row;
    width: 100vw;
    margin-top: 50vh;
    text-align: center;

}
.button button{
    text-transform: uppercase;
    font-size: 1.5rem;
    height: 70px;
    width: 250px;
    background-color: black;
    border: none;
    color: rgb(218, 255, 2);
}
.button button:hover{
    cursor: pointer;
    background-color: rgb(218, 255, 2);
    color: black;
    transition: .05s;
}

.second-div{
    height: 640px;
    width: 100vw;
    background-color: white;
    display: flex;
    flex-direction: row;
}

.child-container{
    height: 440px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    
}

.content-container{
    height: 430px;
    width: 960px;
    margin: 0 auto;
    display: flex;
    overflow-y: hidden;
    
}

.container-video{
    width: 480px;
    height: 440px;
    overflow-y: hidden;
}
.container-video img{
    
}

.container-text {
    flex: 1;
    overflow-y: hidden;
}

.container-text h3{
    color: rgb(44, 44, 44);
    font-family: 'Space Mono', monospace;
    font-size: 2.2rem;
}

.container-text p{
    color: rgb(44, 44, 44);
    font-family: 'Work Sans', sans-serif;
    font-size: 1.2rem;
}


.third-div{
    background-color: rgb(33, 33, 33);
    height: fit-content;
    text-align: center;
    color: white;
    display: flex;
    width: 100vw;
    padding-top: 50px;
    padding-bottom: 50px;
}

.container-cards{

    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}


.card{
    width: 330px;
    height: 500px;
    align-items: center;
    margin-bottom: 30px;
    
}

.card img{
    width: 200px;
}

.card h4,
.card p{
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    text-align: left;
}

.card h4{
    font-family: 'Space Mono', monospace;
    font-size: 1.5rem;
}

.card p{
    font-family: 'Work Sans', sans-serif;
    line-height: 1.5;
}



.galery{
    background-color: rgb(255, 255, 255);
    min-height: 1440px;
    max-height: fit-content;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
 
}

.galery-container{
    width: 940px;
    margin: 0 auto;
    font-family: 'Space Mono', monospace;
}

.galery-container h1{
    font-family: 'Space Mono', monospace;
    margin-bottom: 20px;
    font-size: 2.5rem;
}


.galery-photos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    justify-content: space-between;
    margin-bottom: 20px;

}
.galery-photos img{
    height: 220px;
    width: 220px;
    margin-bottom: 20px;
}

.galery-slide img{
    width: 940px;

}


.roadmap{
    background-color: rgb(33, 33, 33);
     height: fit-content; /*2192 */
     padding-bottom: 40px;
}

.roadmap-container{
    /* width: 940px; */
    margin: 0 auto;
    text-align: center;
    height: 100%;

}

.roadmap-container h1{
    color: white;
    font-family: 'Space Mono', monospace;
    margin-bottom: 00px;
    font-size: 2.3rem;
    margin-top: 80px;
}

.roadmap-content{
    /* width: 940px; */
     /* height: fit-content; */
 
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    color: white;
}

.roadmap-content-percent{
    width: 230px;
    height: fit-content;
    font-weight: 700;
    font-style: italic;
}
.roadmap-content-text{
    text-align: left;
    width: 650px;
    font-weight: 700;


}

.roadmap-content-percent p{
    color: rgb(218, 255, 2); 
    font-size: 3.0rem;
    margin-top: 20px;
    font-family: 'Space Mono', monospace;
}
.roadmap-content-text h1{
    margin-top: 20px;
    color: rgb(218, 255, 2);
    font-size: 1.5rem;
    font-weight: 400;
}
.roadmap-content-text p{
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.8;
    margin-top: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.roadmap-content-text p span{
    color: rgb(160, 159, 159);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}




.team{
    background-color: white;
    min-height: 670px;
    max-height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.team-container{
    width: 940px;
    margin: 0 auto;
    padding-top: 50px;
}

.team-text{
    height: fit-content;
    margin-bottom: 20px;
}

.team-text h1{
    text-align: center;
    font-family: 'Space Mono', monospace;
    font-size: 2.4rem;
}

.team-text p{
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
}

.team-crew{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.team-first,
.team-second{
    display: flex;
    flex-direction: row;
    width: 470px;
    flex-wrap: wrap;

}

.team-crew img{
    width: 200px;
    margin: 10px;
}
.team-first-text,
.team-second-text{
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 25px;
}

.team-first-text h1,
.team-second-text h1{
    font-family: 'Space Mono', monospace;
    margin-bottom: -5px;
    margin-top: -4px;
 
}

.team-first-text p,
.team-second-text p{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

.team-first-text p span,
.team-second-text p span{
    color: gray
}


.join{
    background-color: grey ;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.join-container{
    background-color: black;
    height: 510px;
    width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;

    
}

.join-engine{
    width: 480px;
    height: 510px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.join-engine img{
    width: 440px;

}

.join-text{
    width: 480px;
    height: 500px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
}

.join-text h1{
    font-family: 'Space Mono', monospace;
    font-size: 2.4rem;

}

.join-text p{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    
}

.join-text p span{
    color: rgb(160, 159, 159);
    font-weight: 400;
}

.join-text button{
    width: 200px;
    height: 48px;
    border: 1px solid rgb(218, 255, 2);
    background-color: black;
    color: white;
}

.join-button:hover{
cursor: pointer;
background-color: rgb(218, 255, 2);
color: black;
transition: .05s;
}







footer{
    background-color: white;
    height: 108px;
}